/*全局标签类----------------------------------------------------*/

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*background-image: url(https://cdn.pixabay.com/photo/2018/02/03/09/44/waters-3127274_1280.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 0;
    margin: 0;
}

input{
    transition: 400ms;
    outline-color: #8ab5ff;
    width: 250px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    margin: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    caret-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
}

input:focus{
    outline-color: #8ab5ff;
    transition: 400ms;
    border-radius: 15px;
    caret-color: black;
    z-index:100;
}

input:valid{
    outline: auto;
    outline-color: #8ab5ff;
    transition: 400ms;
    border-radius: 15px;
    caret-color: black;
    z-index:100;
}

::placeholder{
    padding-left: 25px;
}

/*主框架----------------------------------------------------*/

header{
    width: 100%;
    height: 20px;
    display: flex;
    color: white;
}

footer{
    width: 100%;
    height: 20px;
    display: flex;
    color: white;
    position: relative;
    bottom: 40px;
}

.main{
    box-sizing: border-box;
    margin: auto;
    min-width: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    width: 400px;
    height: 647px;
    /*删除了overflow:hidden*/
    position: relative;
    /*将main块元素设置成position:relative*/
}

/*logo-----------------------*/

.logo{
    position: relative;
}

.logo > img{
    position: relative;
    left: 13%;
    width: 60%;
    padding: 25px;
}

/*背景适配---------------------*/

@media (min-aspect-ratio: 2560/1440) {
    #backgroundVideo{
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        bottom: 0px;
        width: 100%;
        z-index:-100
    }
}

@media (max-aspect-ratio: 2560/1440) {
    #backgroundVideo{
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        bottom: 0px;
        height: 100%;
        z-index:-100
    }
}

/*source{*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*    height: auto;*/
/*    width: auto;*/
/*}*/

/*Login区域-------------------------------------------------*/

#login{
    left: 0;
    position: absolute;
    transition: .5s;
}

/*标语------------------------*/

.slogan{
    position: relative;
    bottom: 5px;
    text-align: center;
    font-family: "Comic Sans MS", serif;
}

/*表单------------------------*/

.logInInputArea{
    margin: 20px;
    text-align: center;
    position: relative;
}

/*用户名图标-------------------*/

.logInInputArea .user{
    background-image: url("images/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 400ms;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50px;
    bottom: 188px;
}

.logInInputArea input:focus + .user{
    background-image: url("images/user_active.png");
    transition: 400ms;
    left: 10px;
}

.logInInputArea input:valid + .user{
    background-image: url("images/user_active.png");
    transition: 400ms;
    left: 10px;
}

/*密码图标--------------------*/

.logInInputArea .key{
    background-image: url("images/key.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 400ms;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50px;
    bottom: 105px;
}

.logInInputArea input:focus + .key{
    background-image: url("images/key_active.png");
    transition: 400ms;
    left: 10px;
}

.logInInputArea input:valid + .key{
    background-image: url("images/key_active.png");
    transition: 400ms;
    left: 10px;
}

/*显示密码图标------------------*/

.logInInputArea input:focus + .key + .togglePassword{
    user-select: none;
    background-image: url("images/eye_open.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 275px;
    bottom: 103px;
}

/*所有提交按钮------------------*/

.logInInputArea button, .forgetPassword button, .signUpInputArea button{
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    transition: all 500ms;
    margin: 20px;
    width: 250px;
    border: none;
    height: 35px;
    background-color: rgb(0, 182, 254);
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
}

.logInInputArea button:hover, .forgetPassword button:hover, .signUpInputArea button:hover{
    transition: all 400ms;
    /*background-color: rgb(0, 149, 193);*/
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 0 3px #8ab5ff;
}

/*忘记密码与提交按钮-------------*/

#forgetHr{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 25px;
    margin-right: 25px;
}

#forgetPassButton {
    position: relative;
    left: 170px;
    top: 10px;
}

#signUpButton {
    position: relative;
    left: 20px;
    top: 10px;
}

.buttonNotObviously {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #929497;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.buttonNotObviously:hover{
    color: grey;
}

/*copyright-------------------------------------------------*/

.copyright{
    font-family: "Noto Sans", sans-serif;
    margin: auto;
}

/*signUp区域-------------------------------------------------*/

#signUp{
    left: -450px;
    position: absolute;
}

/*forgetPassword区域-----------------------------------------*/

#forgetPassword{
    left: 450px;
    position: absolute;
}

.forgetPassword, .signUpInputArea{
    margin: 20px;
    text-align: center;
    position: relative;
}

/*浏览器专用---------------------------------------------------*/

::-ms-reveal {
    display: none
}










