<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CyanPine</title>
    <link href="{{ url_for('static', filename = 'css/login.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>

    </header>
    <video id="backgroundVideo" autoplay loop muted>
        <source src="../static/videos/background_video.mp4" type="video/mp4">
    </video>
    <div class="main">

        <div class="logo">
            <img src="{{ url_for('static', filename = 'images/logo_full.png') }}" alt="logo">
        </div>

        <!--------signUp区域---------------------------------------------------------------------------------------->
        <div class="signUp", id="signUp">
            <form class="signUpInputArea" novalidate onsubmit="checkSignUp()">
                <input class="mail" id="mailSignUp" name="user_email" type="email" required placeholder="Enter e-mail address" onblur="checkEmail('mailSignUp', 'signUpSubmit')" onfocus="resetInput('mailSignUp')">
                <div class="letter"></div>
                <input type="text" id = "nameSignUp" name="user_name" required onfocus="resetInput('nameSignUp')" placeholder="Enter username">
                <div class="user"></div>
                <input class="password" id = "signUpPass" name="user_password" type="password" required placeholder="Password" onfocus="resetInput('signUpPass')">
                <div class="key1"></div>
                <div class="togglePassword" id="signUpToggle1"></div>
                <input class="password" id = "signUpPassRe" name="confirm" type="password" required placeholder="Confirm" onblur="checkPass()" onfocus="resetInput('signUpPassRe')">
                <div class="key2"></div>
                <div class="togglePassword" id="signUpToggle2"></div>
                <div class="verificationBox">
                    <input class="identify" id = "identifier" name="captcha" type="text" required placeholder="Enter captcha" onfocus="resetInput('identifier')">
                    <button type="button" id="captcha-btn" class="verificationCode"></button>
                </div>
                <button type="submit" class = "submit" id="signUpSubmit" onmousedown="checkSignUp()" >Sign Up</button>
                <div id="rightToLogin" class="rightArrow" onclick="rightToLogin()" title="Back to login in"></div>
            </form>
        </div>
        <!--------login区域---------------------------------------------------------------------------------------->
        <div class="login" id = "login">
            <div class="slogan">
                <div>The forum for BDICers to discuss and the</div>
                <div>comprehensive services provider for</div>
                <div>BDICers to collect information</div>
            </div>

            <form class="logInInputArea" novalidate onsubmit="checkLogin()">
                <input id = "mailLogin" name="user_email" type="email" required placeholder="{{ get_flashed_messages()[0] }}" onblur="checkEmail('mailLogin')" onfocus="resetInput('mailLogin')">
                <div class="letter"></div>
                <input class="password" id = "password" name="user_password" type="password" required placeholder="{{ get_flashed_messages()[1] }}" onfocus="resetInput('password')">
                <div class="key"></div>
                <div class="togglePassword" id="togglePassword"></div>
                <button type="submit" class = "submit" id = "submitLogin" name="sign_up" value="True">Login</button>
            </form>

            <div id="forgetHr"></div>
            <button id="signUpButton" class="buttonNotObviously" onclick="register()">Sign up</button>
            <button id="forgetPassButton" class="buttonNotObviously" onclick="forgetPass()">Forgot password?</button>
        </div>
        <!--------forgetPassword区域------------------------------------------------------------------------------->
        <div class="forgetPassword", id="forgetPassword">
            <form class="forgetPassInputArea" id = "forgetPassInputArea" novalidate onsubmit="checkForgetPass()">
                <div class="forgetTitle">Find your account</div>
                <div class="forgetWords">Enter your email to continue:</div>
                <input class="mailConfig" type="email" id="forgetMail" name="user_email" placeholder='Enter e-mail address' required onblur="checkEmail('forgetMail', 'forgetPassSubmit')" onfocus="resetInput('forgetMail')">
                <div class="letter"></div>
                <div class="verificationBox">
                    <input class="identify2" id = "identifier2" name="captcha" type="text" required placeholder="Enter captcha" onfocus="resetInput('identifier')">
                    <button type="button" id="captcha-btn2" class="verificationCode2"></button>
                </div>
                <button type="submit" class = "submit" id = "forgetPassSubmit">Next</button>
                <div id="leftToLogin" class="leftArrow" onclick="leftToLogin()" title="Back to login in"></div>
            </form>
        </div>
        <!--resetPassword区域-------------------------------------------------------------------------------------->
        <div class="resetPassword", id="resetPassword">
            <form action="{{ url_for("User.password_check") }}" method="post" class="resetPasswordInputArea">
                <div class="resetTitle">Reset your password</div>
                <input class="password" id = "resetPass" name="user_password" type="password" required placeholder="Password" onfocus="resetInput('signUpPass')">
                <div class="key1"></div>
                <div class="togglePassword" id="resetToggle1"></div>
                <input class="password" id = "resetPassRe" name="confirm" type="password" required placeholder="Confirm" onblur="checkPass()" onfocus="resetInput('signUpPassRe')">
                <div class="key2"></div>
                <div class="togglePassword" id="resetToggle2"></div>
                <button type="submit" class="submit" id="resetPasswordSubmit">Reset</button>
            </form>
        </div>

    </div>
    <footer>
        <span class="copyright">Copyright@Group 12</span>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        /*三个区域的动效**********************************************************************************************/
        var login = document.getElementById("login");
        var signUp = document.getElementById("signUp");
        var forgetPassword =document.getElementById("forgetPassword");
        var resetPassword = document.getElementById("resetPassword");

        function register() {
            login.style.left = "450px";
            signUp.style.left = "0px";
        }

        function forgetPass() {
            login.style.left = "-450px";
            forgetPassword.style.left = "0px";
        }

        function rightToLogin() {
            login.style.left = "0px";
            signUp.style.left = "-450px"
        }

        function leftToLogin() {
            login.style.left = "0px";
            forgetPassword.style.left = "450px";
        }
        function resetPass() {
            forgetPassword.style.left = "-450px";
            resetPassword.style.left = "40px";
        }

        /*验证码获取按钮**********************************************************************************************/
       var button = document.getElementById('captcha-btn');
        button.innerHTML = 'get';
       button.onclick = function () {
           var result = checkEmail('mailSignUp');
           if (result){
               button.disabled = 'disabled';
            button.classList.remove('verificationCode');
            button.classList.add('verificationCodeDisabled');
            var time = 60;
            var timer = setInterval(function () {
                if (time === 0) {
                    clearInterval(timer)
                    button.disabled = '';
                    button.innerHTML = 'get';
                    button.classList.remove('verificationCodeDisabled');
                    button.classList.add('verificationCode');
                } else {
                    time--;
                    button.innerHTML = time + 's';
                }
            }, 1000)
           }
        }

        /*验证码获取按钮2**********************************************************************************************/
        var button2 = document.getElementById('captcha-btn2');
        button2.innerHTML = 'get';
        button2.onclick = function () {
            var result = checkEmail('forgetMail');
            if (result){
                button2.disabled = 'disabled';
                button2.classList.remove('verificationCode2');
                button2.classList.add('verificationCodeDisabled2');
                var time = 60;
                var timer = setInterval(function () {
                    if (time === 0) {
                        clearInterval(timer)
                        button2.disabled = '';
                        button2.innerHTML = 'get';
                        button2.classList.remove('verificationCodeDisabled2');
                        button2.classList.add('verificationCode2');
                    } else {
                        time--;
                        button2.innerHTML = time + 's';
                    }
                }, 1000)
            }
        }

        /*显示隐藏密码按钮**********************************************************************************************/
        let togglePassword0 = document.getElementById("togglePassword");
        let togglePassword1 = document.getElementById("signUpToggle1");
        let togglePassword2 = document.getElementById("signUpToggle2");
        let togglePassword3 = document.getElementById("resetToggle1");
        let togglePassword4 = document.getElementById("resetToggle2");
        const togglePasswords = Array(togglePassword0, togglePassword1, togglePassword2, togglePassword3, togglePassword4);
        let password0 = document.getElementById("password");
        let signUpPass = document.getElementById("signUpPass");
        let signUpPassRe = document.getElementById("signUpPassRe");
        let resetPassIn = document.getElementById("resetPass");
        let resetPassRe = document.getElementById("resetPassRe");
        const passwords = Array(password0, signUpPass, signUpPassRe, resetPassIn, resetPassRe);
        for (var i = 0, len = passwords.length; i < len; i = i + 1){
            let password = passwords[i];
            let togglePassword = togglePasswords[i];
            togglePassword.addEventListener('mousedown', function (e){
                e.preventDefault();
                if (password.type === 'password'){
                    password.setAttribute('type', 'text');
                    togglePassword.style.backgroundImage = 'url("../static/images/eye_close.png")';
                    togglePassword.style.bottom = "100px";
                }else{
                    password.setAttribute('type', 'password');
                    togglePassword.style.backgroundImage = 'url("../static/images/eye_open.png")';
                    togglePassword.style.bottom = "103px";
                }
            })
        }

        /*验证用户输入**********************************************************************************************/
        function checkEmail(id, button) {
            var tester = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
            if (!tester.test(document.getElementById(id).value)){
                document.getElementById(id).value = "";
                document.getElementById(id).style.borderBottom = '1px solid #ff6d6d';
                document.getElementById(id).style.animation = 'rock 1s 0s ease-in-out';
                document.getElementById(id).setAttribute('placeHolder', 'Invalid email');
                return false;
            }else {
                return true;
            }
        }

        function checkPass() {
            if (signUpPass.value !== signUpPassRe.value){
                signUpPass.style.animation = 'rock 1s 0s ease-in-out';
                signUpPassRe.style.animation = 'rock 1s 0s ease-in-out';
                signUpPass.style.borderBottom = '1px solid #ff6d6d';
                signUpPassRe.style.borderBottom = '1px solid #ff6d6d';
                signUpPass.value = '';
                signUpPassRe.value = '';
            }
        }

        function resetInput(id){
            document.getElementById(id).style = '';
            if (document.getElementById(id).type === 'email'){
                if (id === 'mailLogin'){
                    document.getElementById(id).setAttribute('placeHolder', '');
                }else {
                    document.getElementById(id).setAttribute('placeHolder', 'Enter e-mail address');
                }
            }
        }

        function checkSignUp(){
            event.preventDefault();
            let idList = ['mailSignUp', 'nameSignUp', 'signUpPass', 'signUpPassRe', 'identifier'];
            for (var i = 0; i < idList.length; i++){
                if (document.getElementById(idList[i]).value === ''){
                    document.getElementById(idList[i]).style.borderBottom = '1px solid #ff6d6d';
                }
            }
            if (document.getElementById('mailSignUp').value === '' || document.getElementById('nameSignUp').value === '' || signUpPass.value === '' || signUpPassRe.value === '' || document.getElementById('identifier').value === ''){
            }else {
                axios.post('/user/register_form', {
                    email: document.getElementById('mailSignUp').value,
                    userName: document.getElementById('nameSignUp').value,
                    password: signUpPass.value,
                    captcha: document.getElementById('identifier').value
                })
                    .then(function (response) {
                        var code=response.data['code'];
                        if (code === 200){
                            //重定向
                        }else if (code === 400){

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }

        function checkLogin(){
            event.preventDefault();
            if (document.getElementById('mailLogin').value === ''){
                document.getElementById('mailLogin').style.borderBottom = '1px solid #ff6d6d';
            }
            if (document.getElementById('password').value === ''){
                document.getElementById('password').style.borderBottom = '1px solid #ff6d6d';
            }
            if (document.getElementById('mailLogin').value === '' || document.getElementById('password').value === ''){
            }else {
                let loginEmailValue = document.getElementById('mailLogin').value;
                let loginPassword = document.getElementById('password').value;
                axios.post('/user/login_form', {
                    email: loginEmailValue,
                    password: loginPassword
                })
                    .then(function (response) {
                        var code=response.data['code'];
                        if (code === 200){
                            //重定向
                        }else if (code === 400){

                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }

        function checkForgetPass(){
            if (document.getElementById('forgetMail').value === ''){
                document.getElementById('forgetMail').style.borderBottom = '1px solid #ff6d6d';
                event.preventDefault();
            }
        }

        /*axios************************************************************************************************/
        let invalidEmailTip = document.createElement("div");
        invalidEmailTip.setAttribute('class', 'invalidEmailTip');
        invalidEmailTip.innerText = 'Email address not registered';

        let invalidCaptcha = document.createElement("div");
        invalidCaptcha.setAttribute('class', 'invalidEmailTip');
        invalidCaptcha.innerText = 'Invalid Validation Code'

        /*获取验证码********************************************/
        document.getElementById('captcha-btn').addEventListener('click', function (){
            let signUpEmailValue = document.getElementById('mailSignUp').value;
            axios.post('/user/captcha', {
                email: signUpEmailValue
            })
                .then(function (response) {
                    var code=response.data['code'];
                    if (code === 200){
                        alert("Captcha send successfully.");
                    }else if (code === 400){
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        /*获取验证码********************************************/
        document.getElementById('captcha-btn2').addEventListener('click', function (){
            let forgetEmailValue = document.getElementById('forgetMail').value;
            axios.post('/user/captcha', {
                email: forgetEmailValue
            })
                .then(function (response) {
                    var code=response.data['code'];
                    if (code === 200){
                        alert("Captcha send successfully.");
                    }else if (code === 400){
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

        /*提交验证码********************************************/
        document.getElementById('forgetPassSubmit').addEventListener('click', function (){
            event.preventDefault();
            let forgetPassEmailValue = document.getElementById('forgetMail').value;
            let forgetCaptcha = document.getElementById('identifier2').value;
            axios.post('/user/forget_form_email', {
                email: forgetPassEmailValue,
                captcha: forgetCaptcha
            })
                .then(function (response) {
                    // 处理成功情况
                    var code=response.data['code'];
                    var message=response.data['message']
                    if (code === 200){
                        resetPass();
                    }else if (code === 400 && message === 'email'){
                        let parentDiv = document.getElementById('forgetPassInputArea');
                        parentDiv.insertBefore(invalidEmailTip, document.getElementById('forgetPassSubmit'));
                    }else if (code === 400 && message === 'captcha'){
                        let parentDiv = document.getElementById('forgetPassInputArea');
                        parentDiv.insertBefore(invalidCaptcha, document.getElementById('forgetPassSubmit'));
                    }
                })
                .catch(function (error) {
                    // 处理错误情况
                    console.log(error);
                })
        })

    </script>
</body>
</html>